@using Shopping_And_Bidding.Models;
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/Profile.cshtml";
}
@model List<Post>
    <header>
        <div class="row" style="margin-top:30px">
            <div class="col-md-3">
                <a href="/User/Index">
                    <img src="~/Images/Bidding-for-Good-Logo[1].jpg"
                         style="border-radius:20px;border:solid"
                         width="150px" height="125px" />
                </a>
            </div>
            <div class="col-md-8">
                <div class="wrapper" style="margin-top:5px">
                    <div class="bannerad">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:728px;height:100px"
                             data-ad-client="ca-pub-4560135486422930"
                             data-ad-slot="8876535802"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <br /><br />
        <div class="row">
            <div class="col-md-9">
                <h3 style="color:burlywood">Yours BidForGood Posts</h3>
                <p>You can manage your posts here</p>
            </div>
            <div class="col-md-3">
                <a href="/User/AddPost/@(((user)Session["user"]).Uid)"><input type="submit" style="background-color:darkorange;margin-top:50px;color:white;font-weight:100;width:100px;height:50px" value=" Add Post " class="btn btn-default" /></a>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-12" style="margin-left:10%">
                @if (@Model.Count>=1)
                {
                    <h3 style = "margin-left:15%;color:darkorange" > Current Posts</h3>
                <table border="1" width="800px" height="50px">
                    <thead>
                        <tr style="background-color:coral;color:whitesmoke;font:bold">
                            <td class="col-md-4">Title</td>
                            <td class="col-md-2">Price</td>
                            <td class="col-md-3">Datetime</td>
                        </tr>
                    </thead>
                    @foreach (Post p in Model)
                    {
                        <tr>
                            <td class="col-md-4"><a href="/User/ShowPost/@p.PtId">@p.Title</a></td>
                            <td class="col-md-2">@p.Price</td>
                            <td class="col-md-3">@p.Datetime</td>
                            <td class="col-md-2"><a href="/Admin/EditPost/@p.PtId">Edit Post</a></td>
                            <td class="col-md-2"><a href="/Admin/DeletePost/@p.PtId">Delete Post</a></td>
                        </tr>
                    }
                </table>
                }
                else if(@Model.Count<1)
                {
                    <h3 style = "margin-left:30%;color:darkorange" > No Posts Available</h3>
                }

            </div> 
        </div>
    </section>