<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="sidebar.com" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/half-slider.css" rel="stylesheet" />
    <link href="~/Content/Search.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/npm.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/Timer.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
</head>
<body class="bodyBackGround" style="background-image: url('../../Images/background.jpg');">
    <div>
        <nav class="navbar navbar-default navbar-fixed-top" style="background-color:gainsboro">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header" >
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/Home" style="color:darkslateblue"><span class="glyphicon glyphicon-home"> Home</span></a></li>
                    <li><a href="/Home/About" style="color:darkslateblue"> About</a></li>
                </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><form action="/Home/Search" class="form">
                            <div class="form-group has-feedback">
                                <label for="search" class="sr-only">Search</label>
                                <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                <b>Search By: </b>
                                @Html.RadioButton("SearchBy", "Category", true)<text style="color:darkblue">category</text>
                                @Html.RadioButton("SearchBy", "price")<text style="color:darkblue">Price</text>
                                @Html.RadioButton("SearchBy", "Title")<text style="color:darkblue">Title</text>
                            </div>
                        </form>
                        </li>
                        <li><a href="/Login/Register" style="color:darkslateblue"><span class="glyphicon glyphicon-user"> Register!</span></a></li>
                        <li><a href="/Login/Login" style="color:darkslateblue"><span class="glyphicon glyphicon-log-in"> Login</span></a></li>
                    </ul>
</div>
        </nav>
      </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <br />
        <footer style="background-color:black">
            <div class="row">
                <div class="col-md-2 style="margin:auto">
                    <h4 style="color:white" class="col-lg-offset-1">Quick Links</h4>
                    <ul>
                        <li><a href="/Login/Register" style="color:cadetblue">Join Now!</a></li>
                        <li><a href="/Home/BidForGood" style="color:cadetblue">What is BidForGood?</a></li>
                        <li><a href="/Home/LiveAuction" style="color:cadetblue">Live Auctions</a></li>
                        <li><a href="#" style="color:cadetblue">Site Map</a></li>
                    </ul>
                </div>
                <div class="col-md-2" style="margin:auto">
                    <h4 style="color:white">About</h4>
                    <ul>
                        <li><a href="/Home/About" style="color:cadetblue">About us</a></li>
                        <li><a href="/Home/Contact" style="color:cadetblue">Contact Info</a></li>
                        <li><a href="/Home/Policy" style="color:cadetblue">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-2" style="margin:auto">
                    <h4 style="color:white">Support</h4>
                    <ul>
                        <li><a href="/Home/BidForGood" style="color:cadetblue">Help</a></li>
                        <li><a href="/Home/Work" style="color:cadetblue">How It Works</a></li>
                        <li><a href="/Home/SiteRules" style="color:cadetblue">Site Rules</a></li>
                    </ul>
                </div>
                <div class="col-md-2" style="margin:auto">
                    <ul>
                        <li><h4 style="color:white">Stay Connected</h4></li>
                        <br />
                        <br />
                        <li><h4 style="color:white">Bid Safely on BidFor Good</h4></li>
                    </ul>
                </div>
            </div>
        </footer>
        
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>