@using Shopping_And_Bidding.Models
@model user
@{
    ViewBag.Title = "Register";
}
    <header style="background-color:chocolate">
        <h1 style="text-align:center">Welcome To Registration Panel</h1>
        </header>
    <section><br /><br />
            @*<form class="form-horizontal" method="post" action="Addnew">
                <div class="form-group">
                    <label for="inputName3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" required="required" class="form-control" name="name" id="name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputpassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" required="required" name="password" class="form-control" id="p" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputpassword3" class="col-sm-2 control-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" required="required" name="Confirm Password" class="form-control" id="cp" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" required="required" name="email" class="form-control" id="e" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDOB3" class="col-sm-2 control-label">DOB</label>
                    <div class="col-sm-10">
                        <input type="date" required="required" name="DOB" class="form-control" value="2" id="DOB">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputphone3" class="col-sm-2 control-label">Phone_No</label>
                    <div class="col-sm-10">
                        <input type="number" maxlength="14" required="required" name="phone_no" class="form-control" id="p" placeholder="cellphone number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="hidden" name="Role" class="form-control" value="2" id="role" placeholder="Role">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign Up</button>
                    </div>
                </div>
            </form>
    </section>
    <script>
        $("#cp").focusout(function(){
        var a=document.getElementById("p");
        var b=document.getElementById("cp");
        if(a.value !=b.value)
        {
            alert("Password not Matched");
        }
        })
        $("#e").focusout(function () {
            var a = document.getElementById("e").value;
            if (!a.contains(".com") || !a.contains(".pk")) {
                alert("Invalid Email");
            }
        })
    </script>*@
    @using (Html.BeginForm("AddUser", "Login", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(x => x.name, new { @class = "col-sm-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.name, new { @class = "form-control", id = "userName", @placeholder = "Enter userName", required = "required" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
            <div class="col-md-9 col-lg-offset-2" id="result1" style="color:red;"></div>
        </div><br />
        <div class="form-group">
            <label for="inputemail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" required="required" name="email1" class="form-control" id="email1" placeholder="Enter Email">
            </div>
            <div class="col-md-9 col-lg-offset-2" id="result" style="color:red;"></div>
        </div><br />
        <div class="form-group">
            @Html.LabelFor(x => x.password, new { @class = "col-sm-2 control-label"})
            <div class="col-md-10">
                @Html.PasswordFor(x => x.password, new { @class = "form-control", @id = "p", @placeholder = "password" })
                @Html.ValidationMessageFor(model => model.password)
            </div>
        </div>
        <div class="form-group">
            <label for="inputpassword3" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-10">
                <input type="password" required="required" name="Confirm Password" class="form-control" id="cp" placeholder="Confirm Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputuploadImg3" class="col-sm-2 control-label">Upload Image</label>
            <div class="col-sm-10">
                <input type="file" name="file" id="file" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputDOB3" class="col-sm-2 control-label">DOB</label>
            <div class="col-sm-10">
                <input type="date" required="required" name="DOB" class="form-control" value="2" id="DOB">
            </div>
        </div>
        
        <div class="form-group">
            <label for="inputphone3" class="col-sm-2 control-label">Phone_No</label>
            <div class="col-sm-10">
                <input type="number" maxlength="14" required="required" name="phone_no" class="form-control" id="p" placeholder="cellphone number">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" name="Role" class="form-control" value="2" id="role" placeholder="Role">
            </div>
        </div>

        <!--<div class="col-lg-4">-->
        <p style="color:black;">@ViewBag.print</p>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-10" style="margin-left:16%">
            <input type="submit" value="Register" id="but" class="btn btn-lg btn-primary" />
        </div>
    }
        <script>
        $(document).ready(function () {
            $('#userName').focusout(function () {

                var userName = $('#userName').val();

                $.getJSON("/Login/userName?name=" + userName, function (data) {
                    if (data) {

                        $('#result1').text("UserName already in use.");
                        $('#but').hide();

                    }
                    else {
                        $('#result1').text("UserName is available.");
                        $('#but').show();
                    }
                });

            });

        });
        </script>

        <script>
        $(document).ready(function () {
            $('#email1').focusout(function () {
                $.getJSON("/Login/CheckEmail?email=" + $(this).val(), function (data) {
                    if (data) {

                        $('#result').text("Email already in use.");
                        $('#but').hide();

                    }
                    else {
                        $('#result').text("Email is available.");
                        $('#but').show();
                    }
                });

            });

        });
        $("#cp").focusout(function () {
            var a = document.getElementById("p");
            var b = document.getElementById("cp");
            if (a.value != b.value) {
                alert("Password not Matched");
            }
        });
        </script>